{% extends "base.html" %}

{% block style %}
<style>
    table {
        width: 20%;
        border: 1px solid black;
        border-collapse: collapse;
    }
    td {
        text-align: center;
        border: 1px solid black;
        border-collapse: collapse;
    }
    form {
        margin-top: 5px;
        margin-bottom: 5px;
    }
</style>
{% endblock %}

{% block body %}
<h2>Registered components</h2>
<table>
    {% for comp in registered_comps %}
        <tr>
            <td>{{ comp.type }}</td>
            <td>
                <form method="post">
                    {% csrf_token %}
                    <input type="hidden" name="comp_type" value="{{ comp.type }}">
                    <input type="submit" name="submit" value="Unregister">
                </form>
            </td>
        </tr>
    {% endfor %}
</table>

<h2>Unregistered components</h2>
<form method="post">
    {% csrf_token %}
    <input type="submit" name="submit" value="Register All">
</form>
<table>
    {% for comp in unregistered_comps %}
        <tr>
            <td>{{ comp.type }}</td>
            <td>
                <form method="post">
                    {% csrf_token %}
                    <input type="hidden" name="comp_type" value="{{ comp.type }}">
                    <input type="submit" name="submit" value="Register">
                </form>
            </td>
        </tr>
    {% endfor %}
</table>
{% endblock %}